.header {
  height: 80px;
  padding: 20px 0 0 20px;
}

.logo {
  height: 40px;
}

.container {
  width: 100vh;
  height: 100vh;
  margin: auto;
  background-color: #f5f5f5;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btn {
  border: none;
  font-size: 1em;
  font-weight: 600;
  color: white;
  background-color: #ff6742;
  display: inline-block;
  border-radius: 3px;
  height: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

.btn:hover {
  background-color: #fd5930;
}

.btn-choose-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
