@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");

.section1 {
  font-family: "Hind", sans-serif;
  color: #333;
  background-image: url("./img/background-praticien-bureau.jpg");
  background-size: cover;
  user-select: none;
  height: 100vh;
  width: 100%;
}

.header {
  height: 80px;
  padding: 20px 0 0 20px;
}

.logo {
  height: 40px;
}

.container {
  border-radius: 5px;
  padding: 80px 80px 80px 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  float: left;
}

.title {
  font-family: "Hind", sans-serif;
  font-size: 31px;
  line-height: 51px;
  font-weight: 300;
  block-size: 30px;
  padding: 50px 0;
}

.welcome {
  color: #ff6742;
  font-weight: 500;
}

.vague-blanche {
  z-index: 1;
  position: relative;
  max-width: none;
  width: 120%;
  margin-left: -10%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btn {
  border: none;
  font-size: 13px;
  line-height: 50px;
  font-weight: 700;
  color: white;
  background-color: #ff6742;
  display: inline-block;
  border-radius: 3px;
  height: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}

.btn:hover {
  background-color: #fd5930;
}

.btn-choose-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileName-X {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.total-files {
  height: 50px;
  width: 50px;
  padding: 10px;
  background-color: gray;
  border-radius: 50%;
  font-size: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-and-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-times {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .vague-blanche {
    top: 20px;
  }
}

@media (max-width: 910px) {
  .vague-blanche {
    top: 40px;
  }
}

@media (max-width: 620px) {
  .vague-blanche {
    top: 50px;
  }
}

@media (max-width: 485px) {
  .vague-blanche {
    top: 60px;
  }
}
